body{
    background-color: #fafafa;
    color: white;
    font-family: poppinsregular;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#title{
    flex-direction: column;
    line-height: 10px;
}

li{
    display: inline-block;
    margin: 20px;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: #1570BF;
    transition: 0.3s all;
}

#inscreva-se-btn{
    border: 2px solid #1570BF;
    padding: 10px;
    border-radius: 15px;
}

#inscreva-se-btn:hover{
    background-color: #1570BF;
    color: #000;
}

h1{
    font-weight: 200;
}

main{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

h2{
    font-size: 56px;
    line-height: 10px;
    font-family: poppinsmedium;
}

.section__titles {
    display: flex;
    flex-wrap: wrap;
}

.section__titles-title{
    color: #1570BF;
}

.section__titles-subtitle {
    line-height: unset;
    margin: unset;
    color: #000;
}

p{
    line-height: 20px;
    max-width: 500px;
    font-family: poppinslight;
    color: #000;
}

li {
    color: #000;
}

h1 {
    color: #000;
}

img{
    width: 580px;
}

form{
    display: flex;
    flex-direction: column;
    width: 70%;
}

form [type="submit"]{
    height: 50px;
    width: 50%;
    background-color: #1570BF;
    color: white;
    font-weight: bold;
}
form [type="submit"]:hover{
    cursor: pointer;
}

input{
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
}

.img__banner {
    margin-left: 5rem;
}