@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway';
}

.container {
    max-width: 90%; 
    width: 100%; 
    margin: 0 auto;
    padding: 20px;
}  

body {
    background-color: #ebeae6;
}

header {
    background-color: #1D1D1D;
}

h1 {
    color: #E2E2E2;
    font-size: 1.5rem;
    font-weight: 500;
}

.box__atividades {
    padding: 1rem;
    height: 90vh;
    border-radius: 18px;
}

.box__atividades h2 {
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 2rem;
}

.box__atividades span:nth-child(2) {
    margin: 1rem 0;
    display: inline-block;
}

.box__atividades-conteudo {
    height: 10em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}