@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway';
}

.container {
    max-width: 90%; 
    width: 100%; 
    margin: 0 auto;
    padding: 20px;
}  

body {
    background-color: #ebeae6;
}

header {
    background-color: #1D1D1D;
}

h1 {
    color: #E2E2E2;
    font-size: 1.5rem;
    font-weight: 500;
}

.box__atividades {
    padding: 1rem;
    height: 90vh;
    border-radius: 18px;
}

.box__atividades a {
    margin-bottom: 1rem;
}

.box__atividades p {
    margin: 1rem 0;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center; 
    border: solid 1px;
    border-radius: 15px;
    margin: 1rem auto !important;
    width: 450px;
    padding: 26px 24px;
    background-color: #FAFAFA;
}

legend {
    text-align: center;
    color: #fff;
    font-size: 2rem;
}

label {
    
    align-self: baseline;
}

.div_inputs {
    display: flex;
    flex-direction: column;
    width: 65%;
}

.div_inputs label{
    margin: 1em 0 0.5em 0;
}

.div_inputs input {
    height: 1.5rem;
    padding-left: 0.5rem;
}

#notaFiscal {
    padding: 0px;
}

.form_radiobox {
    display: flex;
    flex-direction: column;
    width: 35%;
    gap: 10px;
}

.form_radiobox span {
    margin-top: 2rem;
}

.form_radiobox label {
    width: auto;
    display: inline-block;
}

.form_div {
    display: flex;
    flex-direction: column;
    width: 35%;
}

.form_div label {
    margin: 2rem 0 1rem 0;
}


.form_btn {
    /*padding: 1em 5em; */
    background-color: #000340;
    color: #fff;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 10rem;
    height: 2rem;
    margin: 2rem auto;
    border: none;
}

.form_btn:hover {
    background-color: #050c86;
    cursor: pointer;
}
